body{
    background-image: url(assets/cat.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
h3{
    color: white;
    text-align: center;
}
.form{
    background-color: aliceblue;
    opacity: .5;
    margin: auto;
    padding: 20px;
    border-style:solid;
    border-color: blue;
    max-width: 80%;
}
.line_1,.line_4{
    display:inline-flex;
    width: 100%;
}
.line_2{
    display:inline-flex;
    width: 100%;
}
.line_3{
    display:inline-flex;
    width: 100%;
}
label{
    width: 50%;
    padding: 20px;
}
input{
    float: right;
}
select{
    float:right;
}
.submit{
    background-color: blue;
    color: white;
}
.reset{
    background-color: orange;
    color: white;
}