.maths
{
    background-color: blue;
}
.science
{
    background-color: blueviolet;
}
.english
{
    background-color: brown;
}
.physics
{
    background-color: greenyellow;
}
.gk
{
    background-color: orange;
}