h2
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
table
{
    border-collapse: collapse;
}
.maths
{
    background-color: blue;
}
.science
{
    background-color: blueviolet;
}
.english
{
    background-color: brown;
}
.physics
{
    background-color: greenyellow;
}
.gk
{
    background-color: orange;
}